

.tab-container {
    // Styles for your tab container
    width: 638px;
height: 55px;
flex-shrink: 0;
border-radius: 20px;
box-shadow: 0px 10px 20px rgba(0,0,0,0.1);

background: #FFF;
margin-top: 20px;
padding: 1px;
  }
  
  .tab-buttons {
    display: flex;
  }
  