

.tab-container {
    // Styles for your tab container
    width: 638px;
height: 55px;
flex-shrink: 0;
border-radius: 20px;
border: 1px solid #CCC;
background: #FFF;
margin-top: 20px;
  padding: 5px;
  }
  
  .tab-buttons {
    display: flex;
  }
  