@import "../../assets/scss/variables.scss";
@import "../../styles/breakpoints";

.hero {
  // background: $gradient-main;
  min-height: 100vh;
  min-width: 100vw;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;

    background-size: cover;
    background-position: center;

    .carousel-item {
      background-size: cover;
      background-position: center;
      height: 100vh; // or any desired height
      display: flex;
      justify-content: end;
      align-items: center;
      position: relative;
      // Use ::before to overlay the background color with opacity
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.1)
          ),
          url("../../assets/images/hero-section/background-1.jpeg");

        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;

        pointer-events: none; // ensure it doesn't interfere with any interactive elements
        z-index: -1; // push it behind the actual content
      }
      // Black overlay covering 50% of the container from the right
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          -65deg,
          rgba(0, 0, 0, 0.5) 53%,
          transparent 45%
        );

        z-index: 10; // Ensure it's on top, but you might need to adjust this depending on your needs
      }
      .carousel-content {
        padding: 20px;
        border-radius: 10px;
        font-size: 35px;
        width: 40%;
        margin-right: 10%;
        z-index: 20; // Assign a higher z-index

        @include desktop-1440 {
          width: 50%;
          font-size: 35px;
        }

        @include desktop {
          width: 60%;
          font-size: 30px;
        }

        @include tablet {
          width: 70%;
          font-size: 25px;
        }

        @include mobile {
          width: 90%;
          font-size: 20px;
          margin-right: 5%;
          margin-bottom: 5%;
        }
        .highlighted-text {
          color: white;
        }
        p {
          color: white;

          margin-bottom: 20px;
          font-size: 30px;
          font-weight: 600;

          padding: 20px;
          border-radius: 10px;
          font-size: 25px;
          @include desktop-1440 {
            font-size: 25px;
          }

          @include desktop {
            font-size: 20px;
          }

          @include tablet {
            font-size: 15px;
          }

          @include mobile {
            font-size: 10px;
            margin-right: 5%;
            margin-bottom: 5%;
          }
        }
      }
    }

    .hero-overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: absolute;
      width: 80%;
      top: 10%;
      left: 0;

      .outer-text {
        text-align: center;
        font-size: 35px;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        width: 70%;
        border-radius: 10px;
        @include desktop-1440 {
          width: 50%;
          font-size: 35px;
        }

        @include desktop {
          width: 60%;
          font-size: 30px;
        }

        @include tablet {
          width: 70%;
          font-size: 25px;
        }

        @include mobile {
          width: 90%;
          font-size: 20px;
          margin-right: 5%;
          margin-bottom: 5%;
        }
        h2 {
          color: white;
          margin-right: 10px;
          span {
            display: inline-block;
          }
        }
      }

      p {
        color: white;

        width: 70%;
        margin-bottom: 20px;
        font-size: 30px;
        font-weight: 600;

        padding: 20px;
        border-radius: 10px;
        font-size: 25px;
        @include desktop-1440 {
          width: 70%;
          font-size: 25px;
        }

        @include desktop {
          width: 75%;
          font-size: 20px;
        }

        @include tablet {
          width: 80%;
          font-size: 15px;
        }

        @include mobile {
          width: 90%;
          font-size: 10px;
          margin-right: 5%;
          margin-bottom: 5%;
        }
      }

      .cta-button {
        background-color: $primary-color !important;
        color: white;
        border-color: white;

        &:hover {
          border-radius: $primary-border-radius;
          background-color: darken(
            $primary-color,
            10%
          ) !important; // darken by 10%
        }
      }
      .cta-button-1 {
        border: $primary-border;
        border-radius: $primary-border-radius;
        background-color: $primary-color;
        color: white;
      }
    }
  }
}
