@import "../../assets/scss/variables.scss";

@keyframes swell {
  0%,
  100% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
}

.hero {
  position: relative;

  min-height: 100vh;
  min-width: 100vw;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center;
    .hero-overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 60%;
      .outer-text {
        font-size: $harry-header-size;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 3px;

        border-radius: 10px;
        h1 {
          margin-right: 10px;
          span {
            display: inline-block;
            animation: swell 2s ease-in-out infinite;
          }
        }
      }

      p {
        width: 70%;
        margin-bottom: 20px;
        font-size: $subtitle-font-size;
        font-weight: 600;

        padding: 20px;
        border-radius: 10px;
      }

      .cta-button {
        padding: 15px 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        border-radius: 3px;
        border: 2px solid #777;
        font-size: $subtitle-font-size;
        border: $primary-border;
        box-shadow: $solar-hover-box-shadow;

        border-radius: $primary-border-radius;
        transition: transform $medium-transition;
        color: $primary-color;

        &:hover {
          background: linear-gradient(to bottom, $solar-primary, $soft-yellow);
        }
      }
      .cta-button-1 {
        background: linear-gradient(to bottom, $solar-primary, $soft-yellow);
      }
    }
  }
}
