@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"); /* electricity-like font from Google Fonts */

.electricity-usage {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* Add a electricityish shadow */
  filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.8));
  font-family: "Patrick Hand", cursive; /* electricity-like font */
  background-color: #f5cfcf; /* Creamy background for the electricity feel */

  .step-title {
    text-align: center;
    font-size: 70px;
    color: #fc4445; /* Punchy red */
    text-shadow: 4px 4px 0px #fabd03; /* Yellow shadow */
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    // background-color: #e4db66; /* electricity-like yellow background */
  }

  .electricity-usage-step {
    background: #f4a460; /* Salmon background for contrast */
    padding: 40px;
    border: 6px solid #e85959; /* Thick dashed border */
    border-radius: 20px;
    box-shadow: 10px 10px 0px 0px #f64848; // offset shadow for electricity feel

    .usage-instructions p {
      font-size: 35px;
      color: #352f44;
      background: #f6e3b5; /* Light creamy background */
      padding: 15px;
      border: 4px solid #e85959; /* Thick dashed border */
      border-radius: 20px;
      box-shadow: 6px 6px 0px 0px #f64848; // offset shadow for electricity feel
      text-shadow: 2px 2px 0px #fabd03;
      margin-bottom: 25px;
    }

    .step-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .usage-slider {
      display: flex;
      flex-direction: column;
      align-items: center;

      .range-labels {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        color: #352f44;
        text-shadow: 2px 2px 0px #fabd03;

        &-low,
        &-high {
          background: #e4db66;
          padding: 5px;
          border-radius: 10px;
        }
      }

      .electricity-usage-slider {
        width: 100%;
        background: #fabd03;
        border-radius: 20px;
        margin: 10px 0;

        & .ant-slider-track {
          background: #fc4445;
        }

        & .ant-slider-handle {
          background: #352f44;
          border: 3px solid #fc4445;
          border-radius: 50%;
        }
      }
      .electricity-usage-size {
        margin-top: 5%;
        font-size: 30px;
        color: #352f44;
        text-shadow: 2px 2px 0px #fabd03;
      }
      .daily-usage-display {
        p {
          font-size: 30px;
          color: #352f44;
          text-shadow: 2px 2px 0px #fabd03;
        }
      }
      .electricity-usage-input-container {
        display: flex;
        align-items: center;
        margin-top: 15px;

        .electricity-usage-unit {
          font-size: 30px;
          color: #352f44;
          margin-left: 10px;
          text-shadow: 2px 2px 0px #fabd03;
          .instruction-icon {
            font-size: 40px;
            margin-left: 10px;
            cursor: pointer;
            color: black;
          }
        }

        .electricity-usage-input {
          color: #352f44;
          font-size: 25px;
          width: 140px;
          background: #e4db66;
          border: 2px solid #e85959; /* Thick dashed border */
          border-radius: 20px;
          box-shadow: 4px 4px 0px 0px #f64848; // offset shadow for electricity feel
          border-radius: 10px;
          padding: 5px 10px;
        }
      }
    }

    .loading-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;

      p {
        color: #fffde5;
        margin-top: 10px;
      }
    }

    // Define common styles for both next and previous buttons
    .button-common {
      position: absolute;
      width: 70px;
      height: 70px;
      top: 50%;
      background: linear-gradient(to bottom, #ffffff, #f2f2f2);
      border: 2px solid #bbb7b7;
      color: #4caf50;
      padding: 10px 20px;
      border-radius: 35px;
      box-shadow: 0px 4px 8px rgba(121, 120, 120, 0.1);
      transition: all 0.3s ease-out;
      opacity: 0.8;
      font-size: 30px;

      &:hover {
        background: linear-gradient(to bottom, #f2f2f2, #ffffff);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
        transform: translateX(-50%) translateY(-50%) scale(1.05); // Slight enlargement on hover

        .anticon {
          transform: scale(1.2);
        }
      }
    }

    .next-button {
      @extend .button-common; // Use the common styles
      right: 0px;
      transform: translateX(-50%) translateY(-50%);
    }

    .previous-button {
      @extend .button-common; // Use the common styles
      left: 70px;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.electricity-modal {
  .ant-modal-content {
    transition: transform 0.2s;
    background: #e4db66;
    border: 4px solid #e85959; /* Thick dashed border */
    border-radius: 20px;
    box-shadow: 5px 5px 0px 0px #f64848; // offset shadow for electricity feel
  }

  .electricity-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .electricity-item {
    display: flex;
    background: #e4db66;
    font-family: "Patrick Hand", cursive; /* Apply the cartoon font */

    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    p {
      font-family: "Patrick Hand", cursive; /* Apply the cartoon font */

      font-size: 18px;
      line-height: 24px;
      margin: 0;
    }
  }

  .electricity-icon {
    font-family: "Patrick Hand", cursive; /* Apply the cartoon font */

    font-size: 20px;
    color: #4b0082;
    flex-shrink: 0; // prevents icon from shrinking
  }
}
