.electricity-usage{
  background-image: url('../../../assets/images/solar-choice-background-4.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .step-title {
    color: #112A46;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    font-size: 50px;
  }
  .electricity-usage-step {
    margin-top: -2%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    width: 100vw;
    align-items: center;
    justify-content: center;
    .step-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  
 
  
    .usage-instructions p {
      color: #112A46;
      font-size: 24px;
      margin-bottom: 90px;

    }
  
    .usage-slider {
        width: 80%;
        margin: 20px auto; // Centers the slider in its container
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center; // Ensures the content within the slider container is centered
        
        .range-labels {
          position: absolute  ;
          display: flex;
          justify-content: space-between; 
          width: 30%; 
          color: #112A46; // You can change this based on your theme
          margin-top: 5px;
          font-size: 30px;
          &-low {
            align-self: flex-start; // Positions the "Low" text to the left
          }
      
          &-high {
            align-self: flex-end; // Positions the "High" text to the right
          }
        }
      
        .electricity-usage-slider {
          width: 23%; 
          position: relative;
          height: 24px;
          border-radius: 12px;
          background: linear-gradient(to right, #36D1DC, #5B86E5); // A soothing gradient from teal to blue
          opacity: 0.9;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); // Slightly increased shadow opacity for depth
          padding: 1px;
      
          & .ant-slider-track {
              background: linear-gradient(to right, #FFB6B9, #FF5864); // Warm gradient from soft pink to coral red
              height: 100%;
              border-radius: 12px;
          }
      
          & .ant-slider-handle {
              height: 28px; // Slightly increased for better interaction
              width: 28px;
              background-color: #FFFDE5;
              border: 2px solid #D75537;
              border-radius: 50%;
              box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); // A bit more shadow for a 'lifted' feel
              transform: translateY(-50%);
          }
      }
      .electricity-usage-size {
        position: absolute;
        margin-top: -3%;
        font-size: 32px; // Slightly increased for emphasis
        color: #112A46; // You can change this based on your theme

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  
    }
      .electricity-usage-input-container {
          display: flex;
          align-items: center;
          justify-content: center;
        
         
          .electricity-usage-unit {
            position: absolute;
            margin-top: 10%;
            margin-left: 8%;  // Slightly increased for better spacing
            font-size: 32px; // Slightly increased for emphasis
            color: #112A46; // You can change this based on your theme

        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  
        }
          .electricity-usage-input {
              position: absolute;
              top: 110px;
              color: #28364A; // Dark blue-gray for consistency
              font-size: 26px; // A bit larger for clarity
              width: 5%; // A little increase in width for visual balance
              background: #f7f9fc; // A very soft blue background
              border: 1px solid #dce1e8; // A gentle border
              border-radius: 4px; // Slight rounding for softness
              padding: 5px 10px; // Padding for better ergonomics
          }
      }
      }
      
  
    .loading-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
  
      p {
        color: #FFFDE5;
        margin-top: 10px;
      }
    }
  
    // Define common styles for both next and previous buttons
.button-common {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border: 2px solid #bbb7b7;
  color: #4CAF50;
  padding: 10px 20px;
  border-radius: 35px;
  box-shadow: 0px 4px 8px rgba(121, 120, 120, 0.1);
  transition: all 0.3s ease-out;
  opacity: 0.8;
  font-size: 30px;

  &:hover {
    background: linear-gradient(to bottom, #f2f2f2, #ffffff);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateX(-50%) translateY(-50%) scale(1.05); // Slight enlargement on hover


    .anticon {
      transform: scale(1.2);
    }
  }
}

.next-button {
  @extend .button-common; // Use the common styles
  right: 0px;
  transform: translateX(-50%) translateY(-50%);
}

.previous-button {
  @extend .button-common; // Use the common styles
  left: 70px;
  transform: translateX(-50%) translateY(-50%);
}

  }
  
}