@import "../../../assets/scss/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"); /* Cartoon-like font */

.location-step {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: $primary-color;
  background: $gradient-main;
  font-family: $primary-font;

  h2 {
    color: $primary-color;
    text-shadow: $primary-text-shadow;
    margin-bottom: 20px;
    padding: 10px;
    font-weight: 600;
  }

  .location-step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    background: white;
    border: $primary-border;
    padding: 40px;
    border-radius: $primary-border-radius;
    box-shadow: $solar-hover-box-shadow;
    .select-location {
      display: flex;
      align-items: center;

      .location-icon {
        margin-left: 15px;
        cursor: pointer;
        color: $primary-color;

        font-size: 45px;
      }
    }
    .error-message {
      color: red;
      margin-top: 10px;
      font-size: 20px;
    }
    .ant-select {
      margin: 30px 0;
      position: relative; // Ensuring this is relatively positioned
      border-radius: 10px;
      width: 260px;
      background: white;

      .ant-select-selector {
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%; // Set to take full width of parent

        background: #badc58;
        border-radius: 10px;
        border: $primary-border;
        box-shadow: $solar-hover-box-shadow;

        border-radius: $primary-border-radius;
        transition: transform $medium-transition;
        background-color: white;
        &:hover {
          background: linear-gradient(to bottom, $solar-primary, $soft-yellow);
          border: $primary-border;
          box-shadow: $solar-hover-box-shadow;
        }

        .ant-select-selection-item,
        .ant-select-selection-placeholder {
          font-size: $primary-font-size;
          color: $primary-color;

          font-weight: bold;
        }
      }

      .ant-select-arrow {
        color: $primary-color;

        font-size: 1.4em;
        position: absolute;
        right: 10px; // Positioned within .ant-select
        top: 50%;
      }
    }

    label,
    h3 {
      color: $primary-color;
      margin-bottom: $spacing-unit;
    }

    .ant-input {
      margin-bottom: 25px;
      width: 80%;
      height: 55px;
      font-size: 24px;
      background: #dff9fb; /* Soft blue for input background */
      border: 2px solid #273c75; /* Blue border for input */
      border-radius: 8px;
    }

    .loading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 25px;
      background-color: rgba(
        255,
        218,
        97,
        0.6
      ); /* Light yellow for loading container */
      border-radius: 8px;

      .ant-spin {
        margin-bottom: 15px;
      }

      .ant-spin-text {
        color: $primary-color;

        font-weight: bold;
        font-size: 20px;
      }
    }
  }
}

.location-modal {
  .ant-modal-content {
    border-radius: 10px;
    border: $primary-border;
    box-shadow: $solar-hover-box-shadow;

    border-radius: $primary-border-radius;
    transition: transform $medium-transition;
    background-color: white;
  }

  .location-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .location-item {
    display: flex;

    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: 500;
    color: $primary-color;

    p {
      color: $primary-color;

      font-size: 18px;
      line-height: 24px;
      margin: 0;
    }
  }

  .location-icon {
    color: $primary-color;

    font-size: 30px;
    flex-shrink: 0; // prevents icon from shrinking
  }
}
