@import "../../assets/scss/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.estimation-container {
  filter: drop-shadow($primary-box-shadow);

  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  color: $primary-color;
  background: $gradient-main;
  font-family: $primary-font;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: $primary-border;
  @import "../../assets/scss/variables.scss";
  overflow-y: scroll;
  // Existing SCSS
  // ...

  // SCSS for react-joyride
  .joyride-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); // semi-transparent overlay
    z-index: 9999; // Very high z-index to ensure overlay is above other elements
  }

  .joyride-tooltip {
    position: absolute;
    background-color: white;
    padding: $spacing-unit;
    border-radius: $primary-border-radius;
    box-shadow: $solar-hover-box-shadow;
    z-index: 10000; // Even higher than the overlay to ensure it's the topmost element
    font-family: $primary-font;
    color: $primary-color;

    .joyride-content {
      padding: $spacing-unit;
      font-size: $primary-font-size;
      text-align: left;

      h4 {
        font-size: $title-font-size;
        margin-bottom: $spacing-unit;
        text-shadow: $primary-text-shadow;
      }

      p {
        font-size: $primary-font-size;
      }
    }

    .joyride-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: $spacing-unit;

      button {
        background-color: $primary-color;
        color: white;
        padding: 8px $spacing-unit;
        border: none;
        border-radius: $primary-border-radius;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken(
            $primary-color,
            10%
          ); // Slightly darkened on hover
        }

        &.joyride-skip-button {
          background-color: transparent;
          color: $primary-color;
          margin-right: $spacing-unit;
        }
      }
    }
  }

  h1 {
    text-shadow: $primary-text-shadow;
    margin-bottom: 5 * $spacing-unit;
    font-size: $title-font-size;
    margin-bottom: 20px;
    font-family: $primary-font;

    padding: 10px;
  }
  .estimation-text {
    font-size: $primary-font-size;
    font-weight: 600;
    margin-bottom: $spacing-unit;
    font-family: $solar-font;
  }
  .container-0 {
    box-sizing: border-box;
    padding: $desktop-padding;
    background-color: white;
    border: $primary-border;
    border-radius: $primary-border-radius;
    box-shadow: $solar-hover-box-shadow;
  }
  .container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .address-input,
    .estimated-values {
      background: white;
      display: flex;
      flex-direction: column;
    }
    .address-input {
      width: 60%;
      border-right: none;
    }
    .estimated-values {
      width: 37%;
      padding-right: 20px;
      display: flex;
      flex-direction: column;
      overflow: hidden; /* This will ensure the border-radius applies to inner elements */
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
      border-left: none;
    }

    .estimated-row {
      display: flex;
      height: 50%;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px;
      border-bottom: 1px solid #e0e0e0;
    }

    .estimated-row:last-child {
      border-bottom: none; /* Removing the border for the last child */
    }

    p,
    .estimated-label,
    .estimated-value {
      font-size: $primary-font-size;
      font-weight: 600;
      margin-bottom: $spacing-unit;
      font-family: $solar-font;
    }
  }
  .polygon-management {
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    padding-top: 20px;

    h3 {
      font-weight: 600;
      margin-bottom: 15px;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;
        display: flex;
        align-items: center;

        button {
          margin-left: 15px;
          background-color: #f54242;
          color: white;
          padding: 5px 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;

          &:hover {
            background-color: #d13636;
          }
        }
      }
    }
  }
}
