.recommendation-container {
  display: flex;
  height: 100vh;
  background-color: #e6f2ff; // Slightly changed for a more playful look
  font-family: "Comic Sans MS", cursive, sans-serif;
  position: relative;
  .sidebar {
    width: 25%;
    background-color: #fff8dc; // Cornsilk background

    padding: 2rem;
    border-radius: 5px;

    border: 6px solid #07090b; /* Brighter border */
    border-left: none;
    border-top: none;

    border-bottom: none;

    h3 {
      cursor: pointer;
      transition: color 0.3s;
      font-size: 1.5rem;
      color: #ff4500; // Use a brighter orange color for headers
      border-bottom: 3px solid #ff6347; // Border for a playful touch
      margin-bottom: 0.5rem; // Adjust margin
      padding-bottom: 0.5rem; // Adjust padding

      &:hover {
        color: #3498db;
        text-shadow: 2px 2px 2px #ffb6c1; // Pink shadow
      }
    }
    .custom-radio-group .ant-radio-wrapper {
      display: block; // This will force each radio to take the full width and move to a new line.
      margin-bottom: 10px; // Adds a bit of space between each radio.
    }

    .filter-sort-container {
      .filter-section,
      .sort-section,
      .battery-choice-section {
        margin-bottom: 2rem; // Increase spacing for clarity
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        align-items: start;
        h3 {
          font-size: 30px; // Increase font size for emphasis
          font-weight: 800;
        }
        // Style for radio buttons to appear on separate rows and to give them a cartoonish appearance
        .ant-radio-wrapper {
          margin-bottom: 0.5rem;
          color: #4b0082; // Deep purple color
          font-size: 1.2rem; // Increase font size for emphasis
        }
      }
      .filter-section-solar,
      .sort-section-price {
        margin-left: 2rem;
        margin-bottom: 2rem; // Increase spacing for clarity
        display: flex;
        flex-direction: column;
        align-items: start;
        h3 {
          font-size: 20px; // Increase font size for emphasis
        }
        // Style for radio buttons to appear on separate rows and to give them a cartoonish appearance
        .ant-radio-wrapper {
          margin-bottom: 0.5rem;
          font-size: 1.2rem; // Increase font size for emphasis
          color: #4b0082; // Deep purple color
        }
      }
    }

    // Define common styles for both next and previous buttons
    .button-common {
      position: absolute;
      width: 70px;
      height: 70px;
      top: 50%;
      background: linear-gradient(to bottom, #ffffff, #f2f2f2);
      border: 2px solid #bbb7b7;
      color: #4caf50;
      padding: 10px 20px;
      border-radius: 35px;
      box-shadow: 0px 4px 8px rgba(121, 120, 120, 0.1);
      transition: all 0.3s ease-out;
      opacity: 0.8;
      font-size: 30px;

      &:hover {
        background: linear-gradient(to bottom, #f2f2f2, #ffffff);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
        transform: translateX(-50%) translateY(-50%) scale(1.05); // Slight enlargement on hover

        .anticon {
          transform: scale(1.2);
        }
      }
    }

    .previous-button {
      @extend .button-common; // Use the common styles
      left: 40px;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .main-content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
    background-color: #fffaf0; // Cream color

    h1,
    h2 {
      color: #4b0082; // Deep purple color
      text-shadow: 2px 2px 2px #ffb6c1; // Pink shadow
      margin-bottom: 1rem; // Adjust margin
    }

    .installer-card {
      background-color: #fff8dc; // Cornsilk background
      border-radius: 20px; // Increased for a softer look
      padding: 1.5rem;
      margin-bottom: 1.5rem; // Increase spacing
      border-radius: 5px;

      border: 3px solid #07090b; /* Brighter border */

      box-shadow: 6px 6px 0px 0px #07090b; // offset shadow for cartoon feel

      font-family: "Comic Sans MS", cursive, sans-serif;

      h3 {
        font-size: 2.5rem;
        color: #ff4500; // Bright orange for installer names
        margin-bottom: 1rem; // Adjust margin
        font-family: "Comic Sans MS", cursive, sans-serif;
      }

      p {
        color: #4b0082; // Deep purple color for consistency
        font-size: 1.2rem; // Increase size for clarity
        margin-bottom: 1rem; // Adjust margin
        font-family: "Comic Sans MS", cursive, sans-serif;
      }

      button {
        color: black;
        border: none;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1); // Box shadow for depth
        border-radius: 5px;

        border: 3px solid #07090b; /* Brighter border */

        box-shadow: 6px 6px 0px 0px #07090b; // offset shadow for cartoon feel

        font-family: "Comic Sans MS", cursive, sans-serif;
        font-size: 24px;
        height: 45px;
        &:hover {
          border-radius: 5px;
          background-color: #fad300;

          border: 3px solid #07090b; /* Brighter border */

          box-shadow: 6px 6px 0px 0px #07090b; // offset shadow for cartoon feel

          color: black;
          scale: 1.1;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .sidebar {
      width: 35%;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column-reverse;

    .sidebar {
      width: 100%;
      position: relative;
      border-right: none;
      border-top: 5px solid #ff6347; // Tomato border
    }
  }
}
