@import "../../../assets/scss/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.recommendation-container {
  display: flex;
  height: 100vh;
  background-color: $light-green;
  font-family: $primary-font;
  position: relative;
  font-family: $solar-font;
  filter: drop-shadow($primary-box-shadow);
  color: $primary-color;
  background: $gradient-main;
  font-family: $primary-font;

  .sidebar {
    width: 25%;
    padding: $mobile-padding;
    border-radius: $primary-border-radius;
    border: $primary-border;
    box-shadow: $solar-hover-box-shadow;

    border-radius: $primary-border-radius;
    transition: transform $medium-transition;
    border-left: none;
    border-top: none;
    border-bottom: none;
    background-color: white;
    h3 {
      cursor: pointer;
      transition: color $medium-transition;
      font-size: $subtitle-font-size;
      color: $primary-color;

      border-bottom: $primary-border;
      margin-bottom: $spacing-unit;
      padding-bottom: $spacing-unit;

      &:hover {
        color: $primary-color;

        text-shadow: $primary-text-shadow;
      }
    }

    .custom-radio-group .ant-radio-wrapper {
      display: block;
      margin-bottom: $spacing-unit;
    }

    .filter-sort-container {
      .filter-section,
      .sort-section,
      .battery-choice-section {
        margin-bottom: $desktop-padding;
        display: flex;
        flex-direction: column;
        margin-left: $tablet-padding;
        align-items: start;

        h3 {
          font-size: $harry-header-size;
          font-weight: 800;
        }

        .ant-radio-wrapper {
          margin-bottom: $spacing-unit;
          color: $primary-color;

          font-size: $navbar-font-size;
        }
      }

      .filter-section-solar,
      .sort-section-price {
        margin-left: $mobile-padding;
        margin-bottom: $desktop-padding;
        display: flex;
        flex-direction: column;
        align-items: start;
        h3 {
          font-size: $secondary-font-size;
        }

        .ant-radio-wrapper {
          margin-bottom: $spacing-unit;
          font-size: $navbar-font-size;
          color: $primary-color;
        }
      }
    }

    .button-common {
      position: absolute;
      width: 70px;
      height: 70px;
      top: 50%;
      background: linear-gradient(to bottom, $soft-yellow, $light-green);
      border: $primary-border;
      color: $primary-color;
      padding: 10px 20px;
      border-radius: 35px;
      box-shadow: $solar-hover-box-shadow;
      transition: all 0.3s ease-out;
      opacity: 0.8;
      font-size: 30px;

      &:hover {
        background: linear-gradient(to bottom, $light-green, $soft-yellow);
        box-shadow: $solar-hover-box-shadow;
        transform: translateX(-50%) translateY(-50%) scale(1.05);

        .anticon {
          transform: scale(1.2);
        }
      }
    }

    .previous-button {
      @extend .button-common;
      left: 40px;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .main-content {
    flex: 1;
    padding: $desktop-padding;
    overflow-y: auto;
    color: $primary-color;

    h1,
    h2 {
      color: $primary-color;

      text-shadow: $primary-text-shadow;
      margin-bottom: $spacing-unit;
    }

    .installer-card {
      border-radius: $harry-radius;
      padding: $tablet-padding;
      margin-bottom: $tablet-padding;
      font-family: $harry-font;
      border: $primary-border;
      box-shadow: $solar-hover-box-shadow;

      border-radius: $primary-border-radius;
      transition: transform $medium-transition;
      h3 {
        font-size: $title-font-size;
        color: $primary-color;

        margin-bottom: $spacing-unit;
      }

      p {
        z-index: 1;
        color: $primary-color;

        font-size: $quote-font-size;
      }

      button {
        color: $primary-color;

        border-radius: $primary-border-radius;
        border: $primary-border;
        font-family: $harry-font;
        font-size: $quote-font-size;

        height: $button-height-tablet;
        border: $primary-border;
        box-shadow: $solar-hover-box-shadow;

        border-radius: $primary-border-radius;
        transition: transform $medium-transition;
        &:hover {
          background-color: $solar-primary;
          transform: scale(1.1);
          border: $primary-border;
          box-shadow: $solar-hover-box-shadow;
          color: $harry-shadow;

          border-radius: $primary-border-radius;
          transition: transform $medium-transition;
        }
      }
    }
  }

  @media (max-width: $breakpoint-desktop) {
    .sidebar {
      width: 35%;
    }
  }

  @media (max-width: $breakpoint-tablet-portrait) {
    flex-direction: column-reverse;

    .sidebar {
      width: 100%;
      position: relative;
      border-right: none;
      border-top: $primary-border;
    }
  }
}
