@import "../../../assets/scss/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.recommendation-container {
  display: flex;
  height: calc(100vh - 220px);
  background-color: $light-green;
  font-family: $primary-font;
  position: relative;
  filter: drop-shadow($primary-box-shadow);
  color: $primary-color;
  background: $gradient-main;

  // SCSS for react-joyride
  .joyride-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); // semi-transparent overlay
    z-index: 9999; // Very high z-index to ensure overlay is above other elements
  }

  .joyride-tooltip {
    position: absolute;
    background-color: white;
    padding: $spacing-unit;
    border-radius: $primary-border-radius;
    box-shadow: $solar-hover-box-shadow;
    z-index: 10000; // Even higher than the overlay to ensure it's the topmost element
    font-family: $primary-font;
    color: $primary-color;

    .joyride-content {
      padding: $spacing-unit;
      font-size: $primary-font-size;
      text-align: left;

      h4 {
        font-size: $title-font-size;
        margin-bottom: $spacing-unit;
        text-shadow: $primary-text-shadow;
      }

      p {
        font-size: $primary-font-size;
      }
    }

    .joyride-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: $spacing-unit;

      button {
        background-color: $primary-color;
        color: white;
        padding: 8px $spacing-unit;
        border: none;
        border-radius: $primary-border-radius;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken(
            $primary-color,
            10%
          ); // Slightly darkened on hover
        }

        &.joyride-skip-button {
          background-color: transparent;
          color: $primary-color;
          margin-right: $spacing-unit;
        }
      }
    }
  }

  .sidebar {
    width: 30%;
    border: $primary-border;
    transition: transform $medium-transition;
    border-left: none;
    padding-left: 60px;
    border-top: none;
    border-bottom: none;
    background-color: white;

    overflow-y: auto !important;
    h3 {
      cursor: pointer;
      transition: color $medium-transition;
      font-size: $subtitle-font-size;
      color: $primary-color;

      border-bottom: $primary-border;
      margin-bottom: $spacing-unit;
      padding-bottom: $spacing-unit;

      &:hover {
        color: $primary-color;

        text-shadow: $primary-text-shadow;
      }
    }

    .custom-radio-group .ant-radio-wrapper {
      display: block;
      margin-bottom: $spacing-unit;
    }
    .custom-radio-group-choice {
      display: flex;
      align-items: center;

      width: 100%;
      .radio-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
        cursor: pointer;
        box-shadow: $primary-box-shadow;
        border: $primary-border;
        box-shadow: $solar-hover-box-shadow;
        overflow: hidden;
        transition: transform $medium-transition;
        color: $primary-color;
        flex-direction: column;
        font-weight: 500;
        &:hover {
          border: $primary-border;

          background-color: $primary-color;
          .ant-radio + span {
            color: white;
          }
          p {
            color: white;
          }
        }
        // Adjust the look of the radio when it's checked
        &.selected {
          background-color: $primary-color;
          color: white;
          .ant-radio + span {
            color: white;
          }
        }
      }
      .radio-container p,
      .ant-radio + span {
        margin: 0; // Reset margin
        padding: 0; // Reset padding
      }
      .ant-radio {
        display: none;
        margin: 0; // Ensure no margin
        padding: 0; // Ensure no padding
      }

      .ant-radio + span {
        font-size: 16px; // Adjust as per requirement

        margin-left: 10px; // Adjust as per requirement
      }
    }

    .battery-choice-container {
      width: 100%;
      color: $primary-color !important;

      span {
        font-size: 20px;
      }
      .electricity-usage-size,
      .electricity-usage-unit {
        font-weight: 700;
      }

      .ant-input {
        color: $primary-color !important;

        ::placeholder {
          color: $primary-color !important;
        }
      }
    }
    .filter-sort-container {
      .filter-section,
      .sort-section,
      .battery-choice-section {
        margin-bottom: $desktop-padding;
        display: flex;
        flex-direction: column;
        margin-left: $tablet-padding;
        align-items: start;

        h3 {
          font-size: 30px;
          font-weight: 800;
        }

        .ant-radio-wrapper {
          margin-bottom: $spacing-unit;
          color: $primary-color;

          font-size: $navbar-font-size;
        }
      }

      .filter-section-solar,
      .sort-section-price {
        margin-left: $mobile-padding;
        margin-bottom: $desktop-padding;
        display: flex;
        flex-direction: column;
        align-items: start;
        h3 {
          font-size: 30px;
        }

        .ant-radio-wrapper {
          margin-bottom: $spacing-unit;
          font-size: $navbar-font-size;
          color: $primary-color;
        }
      }
    }

    .button-common {
      position: absolute;
      width: 70px;
      height: 70px;
      top: 50%;
      background: linear-gradient(to bottom, $soft-yellow, $light-green);
      border: $primary-border;
      color: $primary-color;
      padding: 10px 20px;
      border-radius: 35px;
      box-shadow: $solar-hover-box-shadow;
      transition: all 0.3s ease-out;
      opacity: 0.8;
      font-size: 30px;

      &:hover {
        background: linear-gradient(to bottom, $light-green, $soft-yellow);
        box-shadow: $solar-hover-box-shadow;
        transform: translateX(-50%) translateY(-50%) scale(1.05);

        .anticon {
          transform: scale(1.2);
        }
      }
    }

    .previous-button {
      @extend .button-common;
      left: 40px;
      transform: translateX(-50%) translateY(-50%);
    }
  }

  .main-content {
    flex: 1;
    padding: $desktop-padding;
    overflow-y: auto;
    color: $primary-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .main-conten-text {
      width: 100%;
      h3,
      h4 {
        margin-bottom: $spacing-unit;
      }
    }
    .installer-card {
      width: 48%;
      border-radius: $harry-radius;
      padding: $tablet-padding;
      margin-bottom: $tablet-padding;
      border: $primary-border;
      box-shadow: $solar-hover-box-shadow;

      border-radius: $primary-border-radius;
      transition: transform $medium-transition;
      h3 {
        font-size: $title-font-size;
        color: $primary-color;

        margin-bottom: $spacing-unit;
      }

      p {
        z-index: 1;
        color: $primary-color;

        font-size: $quote-font-size;
      }

      button {
        color: $primary-color;

        border-radius: $primary-border-radius;
        border: $primary-border;
        font-size: $quote-font-size;

        height: $button-height-tablet;
        border: $primary-border;
        box-shadow: $solar-hover-box-shadow;

        border-radius: $primary-border-radius;
        transition: transform $medium-transition;
        &:hover {
          background-color: $solar-primary;
          transform: scale(1.1);
          border: $primary-border;
          box-shadow: $solar-hover-box-shadow;
          color: $harry-shadow;

          border-radius: $primary-border-radius;
          transition: transform $medium-transition;
        }
      }
    }
  }

  @media (max-width: $breakpoint-desktop) {
    .sidebar {
      width: 35%;
    }
  }

  @media (max-width: $breakpoint-tablet-portrait) {
    flex-direction: column-reverse;

    .sidebar {
      width: 100%;
      position: relative;
      border-right: none;
      border-top: $primary-border;
    }
  }
}
