.footprint-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 20px;
  width: 300px;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  .fa-icon {
    margin-bottom: 15px;
  }

  p {
    margin: 0;
    font-size: 24px;
    color: #2c3e50;
  }
}

.footprint-card.gas .fa-icon {
    color: #ea5353;  /* Red color for gas */
}

.footprint-card.electricity .fa-icon {
    color: #3b3be0;  /* Blue color for electricity */
}

.footprint-card.co2 .fa-icon {
    color: #47d647;  /* Green color for CO2 */
}
