@import "../../../assets/scss/variables.scss";

@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"); /* electricity-like font from Google Fonts */

.electricity-usage {
  filter: drop-shadow($primary-box-shadow);

  height: calc(100vh - 200px);
  overflow-y: auto !important;

  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $desktop-padding;
  box-sizing: border-box;
  position: relative;
  color: $primary-color;
  background: $gradient-main;
  font-family: $primary-font;
  .step-title {
    text-align: center;
    font-size: $title-font-size;
    text-shadow: $primary-text-shadow;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: $primary-border-radius;
  }

  .electricity-usage-step {
    border: $primary-border;
    padding: 40px;
    border-radius: $primary-border-radius;
    box-shadow: $solar-hover-box-shadow;
    background: white;

    .usage-instructions p {
      font-size: $subtitle-font-size;

      margin-bottom: 25px;
    }

    .step-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    .loading-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;

      p {
        color: $primary-color;

        margin-top: 10px;
      }
    }
    .info-containers {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;

      .info-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        border: $primary-border;
        border-radius: $primary-border-radius;
        box-shadow: $solar-hover-box-shadow;
        background: white;

        .container-icon {
          font-size: 50px;

          flex-shrink: 0;
        }
        .container-content {
          p {
            font-size: 20px;
          }
        }
      }
    }
  }
}

.electricity-modal {
  z-index: 1000;
  .ant-modal-content {
    transition: transform 0.2s;
    border: $primary-border;
    border-radius: $primary-border-radius;
    box-shadow: $solar-hover-box-shadow;
  }

  .electricity-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .electricity-item {
    display: flex;
    color: $primary-color;

    align-items: center;
    gap: 10px;
    font-size: $caption-font-size * 1.8;
    font-weight: 500;
    p {
      font-size: 18px;
      line-height: 24px;
      margin: 0;
    }
  }

  .electricity-icon {
    font-size: 20px;
    color: $primary-color;

    flex-shrink: 0;
  }
}
.usage-slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  .range-labels {
    width: 100%;
    margin-top: 15px;

    display: flex;
    justify-content: space-around;
    font-size: 30px;
    text-shadow: $primary-text-shadow;

    &-low,
    &-high {
      margin-left: 10px;
      margin-right: 10px;
      border-radius: $primary-border-radius;
    }
  }

  .electricity-usage-slider {
    width: 100%;
    background: $solar-primary;
    border-radius: $primary-border-radius;
    margin: 10px 0;

    & .ant-slider-track {
      background: $primary-color;
    }

    & .ant-slider-handle {
      color: $primary-color;

      border: 3px solid $primary-color;
      border-radius: 50%;
    }
  }

  .electricity-usage-size {
    margin-top: 5%;
    font-size: 30px;
    color: $primary-color;

    text-shadow: $primary-text-shadow;
    // If you want to style the custom content
    .ant-tooltip-inner {
      background-color: #28724d !important; // to ensure the background color applies
      color: white !important; // to ensure the text color applies
    }

    .ant-tooltip-arrow {
      border-color: #28724d !important;
    }
  }

  .daily-usage-display {
    p {
      font-size: 30px;
      color: $primary-color;

      text-shadow: $primary-text-shadow;
    }
  }

  .electricity-usage-input-container {
    display: flex;
    align-items: center;
    margin-top: 15px;
    color: $primary-color;

    .electricity-usage-unit {
      font-size: 30px;
      color: $primary-color;

      margin-left: 10px;
      text-shadow: $primary-text-shadow;

      .instruction-icon {
        font-size: 40px;
        margin-left: 10px;
        cursor: pointer;
        color: $primary-color;
      }
    }

    .electricity-usage-input {
      color: $primary-color;

      font-size: 25px;
      width: 140px;
      border-radius: $primary-border-radius;
      padding: 5px 10px;

      border: $primary-border;
      box-shadow: $solar-hover-box-shadow;
    }
  }
}
