.steps-big-container{}
.steps-content {
  margin: 16px 0;
  padding: 20px;
  background-color: #f7f8fc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;  /* Smooth transition */
}

.steps-content:hover {
  background-color: #e6e7f2;  /* Slightly darker shade on hover */
}

/* Button base styles */
.steps-action Button {
  margin-right: 30px;
  background: linear-gradient(90deg, #1890ff, #71aaff); /* A subtle gradient */
  border: none;
  border-radius: 5px;
  color: #fff; /* White text */
  transition: all 0.3s ease; /* For smoother transitions */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  font-weight: 600; /* Slightly bolded text */
}

/* Hover styles */
.steps-action Button:hover {
  background: linear-gradient(90deg, #106ecb, #4094e0); /* A deeper gradient */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* A slightly lifted shadow */
}

/* Active (when button is pressed) styles */
.steps-action Button:active {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Pressed-in effect */
  transform: translateY(2px);
}

/* Styles for the primary button */
.steps-action Button[type="primary"] {
  padding: 10px 20px; /* Bigger than other buttons */
}

/* Icon styling for spacing */
.steps-action Button .anticon {
  margin-right: 8px; /* Space between the icon and text */
}


.progress-indicator {
  margin-bottom: 16px;
}
