@import "~react-responsive-carousel/lib/styles/carousel.min.css";

@keyframes iconRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(15deg);
  }
}
.outer-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw; /* This will take the full width of the viewport */
  overflow: hidden; /* To prevent any overflow */
  background: white;
  font-family: "Patrick Hand", cursive; /* Cartoon font */

  .headline-container {
    text-align: center;
    margin-bottom: 5%;

    h1 {
      font-size: 50px;
      margin-bottom: 6%;
      font-weight: bold;
      color: #333;
    }

    p {
      font-size: 25px;
      color: #666;
      max-width: 800px;
      margin: 0 auto; // To center the text if it's less than 800px wide
      line-height: 1.5;
    }
  }

  .info-blocks {
    display: flex;
    width: 50%;
    .reasons-container {
      flex: 1;
      margin-right: 20px;
    }

    .reason {
      display: flex;
      align-items: center;
      border: 1px solid transparent;
      padding: 15px;
      margin-bottom: 20px;
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.3s ease,
        border-color 0.3s ease;
      border-radius: 5px;

      border: 4px solid #07090b; /* Brighter border */

      box-shadow: 6px 6px 0px 0px #07090b; // offset shadow for cartoon feel
      &.active {
        transform: scale(1.05);

        // Reset other borders to none

        background-color: #fad300;
      }
      &:hover,
      &:focus {
        transform: scale(1.05);
        background-color: #fad300;
      }

      .fa-icon {
        flex: 0 0 auto;
        margin-right: 30px;
        transition: transform 0.3s ease;
        &:hover {
          animation: iconRotate 0.3s ease forwards;
        }
      }

      .text-section {
        transition: color 0.3s ease;
        width: 500px;
        h2 {
          margin-bottom: 10px;
          transition: text-shadow 0.3s ease;
          font-size: 25px;
          &:hover {
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          }
        }
        p {
          font-size: 20px;
        }
      }
    }

    .illustration-container {
      display: flex;
      justify-content: center;
      align-items: center;
      .cartoon-carousel {
        &:hover {
          // scale: 2;
        }
        .carousel-image-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;

          width: 100%;
          overflow: hidden; // This will ensure that images won't overflow the container
          border-radius: 5px;

          border: 4px solid #07090b; /* Brighter border */

          box-shadow: 8px 8px 0px 0px #07090b; // offset shadow for cartoon feel
        }

        .carousel-image {
          max-width: 100%;
          max-height: 100%;
          object-fit: cover; // This will ensure the image covers the entire div without being stretched or squished
        }
        .control-arrow {
          background-color: rgba(#07090b, 0);
          border-radius: 5px;
          border-bottom: none;
          border-top: none;
          border-right: none;
        }

        .carousel .slide {
          border: 3px solid #fafafa;
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          transition: transform 0.3s;
        }

        .carousel .thumb {
          border: 2px solid #fff;
          &.selected,
          &:hover {
            border: 3px solid #000;
          }
        }
      }
    }
  }
}
