@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap"); /* Cartoon-like font */

.location-step {
  background: #f6e58d; /* Light yellow background for a cheerful cartoon feel */
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Patrick Hand", cursive; /* Apply the cartoon font */

  h1 {
    color: #273c75; /* Dark blue color for contrast */
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6); /* Stronger shadow for depth */
    margin-bottom: 30px;
    font-size: 60px;
    border: 4px dashed #e74c3c; /* Red dashed border for emphasis */
    padding: 10px;
    border-radius: 8px;
  }

  .location-step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    background: rgba(
      255,
      234,
      167,
      0.6
    ); /* Semi-transparent light orange for warmth */
    border: 4px solid #404f79; /* Solid blue border for contrast */
    border-radius: 15px;
    box-shadow: 8px 8px 0px 0px #273c75; // offset shadow for cartoon feel
    .select-location {
      display: flex;
      align-items: center;

      .location-icon {
        margin-left: 15px;
        cursor: pointer;
        color: #273c75; /* Dark blue color for contrast */

        font-size: 45px;
      }
    }
    .error-message {
      color: red;
      margin-top: 10px;
      font-size: 20px;
    }
    .ant-select {
      margin: 30px 0;
      position: relative; // Ensuring this is relatively positioned
      border-radius: 10px;
      width: 240px;

      .ant-select-selector {
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 100%; // Set to take full width of parent

        background: #badc58;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        border: 2px solid #404f79;
        border-radius: 15px;
        box-shadow: 4px 4px 0px 0px #273c75;

        &:hover {
          background: #dff9fb;
        }

        .ant-select-selection-item,
        .ant-select-selection-placeholder {
          font-size: 15px;
          color: #273c75;
          font-weight: bold;
        }
      }

      .ant-select-arrow {
        color: #273c75;
        font-size: 1.4em;
        position: absolute;
        right: 10px; // Positioned within .ant-select
        top: 50%;
      }
    }

    label,
    p {
      color: #273c75;
      font-weight: bold;
      margin-bottom: 15px;
      font-size: 45px;
      border-bottom: 3px dotted #e74c3c; /* Red dotted line for emphasis */
    }

    .ant-input {
      margin-bottom: 25px;
      width: 80%;
      height: 55px;
      font-size: 24px;
      background: #dff9fb; /* Soft blue for input background */
      border: 2px solid #273c75; /* Blue border for input */
      border-radius: 8px;
    }

    .loading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 25px;
      background-color: rgba(
        255,
        218,
        97,
        0.6
      ); /* Light yellow for loading container */
      border-radius: 8px;

      .ant-spin {
        margin-bottom: 15px;
      }

      .ant-spin-text {
        color: #273c75;
        font-weight: bold;
        font-size: 20px;
      }
    }

    // Define common styles for both next and previous buttons
    .button-common {
      position: absolute;
      width: 70px;
      height: 70px;
      top: 50%;
      background: linear-gradient(to bottom, #ffffff, #f2f2f2);
      border: 2px solid #bbb7b7;
      color: #4caf50;
      padding: 10px 20px;
      border-radius: 35px;
      box-shadow: 0px 4px 8px rgba(121, 120, 120, 0.1);
      transition: all 0.3s ease-out;
      opacity: 0.8;
      font-size: 30px;

      &:hover {
        background: linear-gradient(to bottom, #f2f2f2, #ffffff);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
        transform: translateX(-50%) translateY(-50%) scale(1.05); // Slight enlargement on hover

        .anticon {
          transform: scale(1.2);
        }
      }
    }

    .next-button {
      @extend .button-common; // Use the common styles
      right: 0px;
      transform: translateX(-50%) translateY(-50%);
    }

    .previous-button {
      @extend .button-common; // Use the common styles
      left: 70px;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}

.location-modal {
  .ant-modal-content {
    background: rgba(
      255,
      234,
      167
    ); /* Semi-transparent light orange for warmth */
    border: 4px solid #404f79; /* Solid blue border for contrast */
    border-radius: 15px;
    box-shadow: 8px 8px 0px 0px #273c75; // offset shadow for cartoon feel
  }

  .location-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .location-item {
    display: flex;
    background: rgba(
      255,
      234,
      167
    ); /* Semi-transparent light orange for warmth */
    align-items: center;
    gap: 10px;
    font-size: 30px;
    font-weight: 500;
    color: #273c75; /* Dark blue color for contrast */
    font-family: "Patrick Hand", cursive; /* Apply the cartoon font */

    p {
      color: #273c75; /* Dark blue color for contrast */
      font-family: "Patrick Hand", cursive; /* Apply the cartoon font */

      font-size: 18px;
      line-height: 24px;
      margin: 0;
    }
  }

  .location-icon {
    color: #273c75; /* Dark blue color for contrast */

    font-size: 30px;
    flex-shrink: 0; // prevents icon from shrinking
  }
}
