.footer-container {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  width: 100vw;
  .footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

    .footer-section {
      flex: 1;
      padding: 0 20px;

      h4 {
        border-bottom: 2px solid #00c49f; // Can change this color
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 20px;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 10px;
          a {
            color: #fff;
            text-decoration: none;
            &:hover {
              color: #00c49f;
            }
          }
        }
      }

      .social-icons {
        a {
          margin-right: 15px;
          color: #fff;
          font-size: 1.5rem;
          transition: color 0.3s;
          &:hover {
            color: #00c49f;
          }
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 15px;
  }
}
