.testimonials {
    display: flex;
    justify-content: center;
    padding: 20px 0;
  
    .testimonial {
      max-width: 600px;
      background-color: #f1f1f1;
      padding: 20px;
      border-radius: 10px;
      position: relative;
  
      p {
        font-style: italic;
        margin-bottom: 10px;
      }
  
      span {
        color: #555;
        font-weight: bold;
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }
  