.calculated-loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;

  h4 {
    margin-top: 10px;
    font-weight: 600;
  }

  img {
    width: 80px; // adjust based on the GIF size you want
    height: 80px;
  }
}
