// Basic cartoonish aesthetic
$primary-color: #32a89e;
$secondary-color: #238a91;

@keyframes swell {

  0%,
  100% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(10px);
  }
}

@keyframes iconRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(15deg);
  }
}

.first-step-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #fff;

  .outer-text {
    width: 80%; 
    font-size: 24px; 
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
   
    border: 5px solid $primary-color; // thick cartoonish border
    background-color: #f2f7fa; // light background
    box-shadow: 8px 8px 0px 0px $secondary-color; // offset shadow for cartoon feel
    
    h1 {
      margin-right: 15px;
      margin-top: -15px;
      font-family: 'Comic Sans MS', 'Chalkboard SE', sans-serif; // cartoonish font
      color: $primary-color; // vibrant color
      text-shadow: none; // reset text shadow

      span {
        display: inline-block;
        animation: swell 2.5s ease-in-out infinite;
       
        -webkit-background-clip: text;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
        color: linear-gradient(to top, $primary-color, $secondary-color); // reset text color
      }
    }
  }

  .start-button {
    margin-top: 5%;
    transition: transform 0.3s ease;
    height: 50px;
    color: #32a89e; // turquoise text
    cursor: pointer;
    background: transparent;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    border: 3px solid $primary-color; // cartoonish border
    box-shadow: 5px 5px 0px 0px $secondary-color; // offset shadow
    &:hover {
      box-shadow: 3px 3px 0px 0px $secondary-color;
      background: #01100f;
      color: #fff; 
 
    }
  }

  // ... [other styles remain unchanged]

  



  .moving-balloon {
    position: absolute;
    top: 5%;
    left: -5%; // Start outside of the screen
    animation: moveBalloon 20s linear infinite; // 10 seconds linear animation
    background-image: url('../../../assets/images/hot-air-balloon.png');
    width: 130px;
    height: 130px;
    background-size: cover;
    background-position: center;
  }

  @keyframes moveBalloon {
    100% {
      transform: translateX(2000%); // Move to the other side
    }
  }

  .next-button {
    position: absolute;
    width: 70px;
    height: 70px;
    right: 20px;
    top: 50%;
    transform: translateX(-50%) translateY(-50%); // Center the button both horizontally and vertically
    background: linear-gradient(to bottom, #ffffff, #f2f2f2); // Subtle gradient from white to light gray
    color: #4CAF50; // Green color for the text/icon to maintain the theme
    padding: 10px 20px; // Padding for better appearance
    border-radius: 35px; // Rounded edges
    box-shadow: 0px 4px 8px rgba(121, 120, 120, 0.1); // Soft shadow for elevation
    transition: all 0.3s ease-out; // Smooth transition
    opacity: 0.8; // Slightly transparent to indicate that it's clickable
    font-size: 30px;
    border: 5px solid $primary-color; // thick border
    box-shadow: 8px 8px 0px 0px $secondary-color;
    &:hover {
      // background: linear-gradient(to bottom, #f2f2f2, #ffffff); // Switch gradient direction on hover
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15); // More pronounced shadow on hover
      transform: translateX(-50%) translateY(-50%) scale(1.05); // Slight enlargement on hover

      .anticon {
        transform: scale(1.2); // Enlarges the icon slightly on hover for a fun interactive effect
      }
    }


  }

}
 // Media Query for Medium screens
 @media (min-width: 768px) { // for tablets and above
  .outer-text {
    width: 60%;
    font-size: 32px; // bigger font size
  }

  .start-button {
    height: 70px;
    font-size: 28px;
  }
}

// Media Query for Large screens
@media (min-width: 1024px) { // for desktops and above
  .outer-text {
    width: 40%; 
    font-size: 40px; 
  }

  .start-button {
    height: 90px;
    font-size: 32px;
  }
}
