// Variables for Color Scheme (basic cartoonish aesthetic)
$primary-color: #32a89e;
$secondary-color: #238a91;

/**
 * Main container for the "First Step"
 * A full-screen centered flex container with a white background.
 */
.first-step-container {
  position: relative;

  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: #fff;

  // Animated Text Presentation inside a bordered box
  .outer-text {
    width: 80%;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 5px solid $primary-color;
    background-color: #f2f7fa;
    box-shadow: 8px 8px 0px 0px $secondary-color;

    // Word representation with a cartoonish font
    h1 {
      margin-right: 15px;
      margin-top: -15px;
      font-family: "Comic Sans MS", "Chalkboard SE", sans-serif;
      color: $primary-color;

      // Animated character representation within words
      span {
        display: inline-block;
        animation: swell 2.5s ease-in-out infinite;
        -webkit-background-clip: text;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }

  // Start button with hover effects and offset shadow
  .start-button {
    margin-top: 5%;
    height: 50px;
    color: #32a89e;
    background: transparent;
    font-size: 20px;
    font-weight: 500;
    border: 3px solid $primary-color;
    border-radius: 15px;
    box-shadow: 5px 5px 0px 0px $secondary-color;
    transition: transform 0.3s ease;

    &:hover {
      box-shadow: 3px 3px 0px 0px $secondary-color;
      background: #01100f;
      color: #fff;
    }
  }

  // Balloon animation
  .sun-animation {
    position: absolute;
    top: 5%;
    left: -5%;
    width: 130px;
    height: 130px;
    background-image: url("../../../assets/images/sun.gif");
    background-size: cover;
    background-position: center;
    animation: moveBalloon 20s linear infinite;
  }

  // Next button with hover effects
  .next-button {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 70px;
    height: 70px;
    font-size: 30px;
    color: #4caf50;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    border: 5px solid $primary-color;
    border-radius: 35px;
    box-shadow: 8px 8px 0px 0px $secondary-color;
    padding: 10px 20px;
    opacity: 0.8;
    transition: all 0.3s ease-out;

    &:hover {
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
      transform: translateX(-50%) translateY(-50%) scale(1.05);

      .anticon {
        transform: scale(1.2);
      }
    }
  }
}

/**
 * Animation Keyframes
 */
@keyframes swell {
  0%,
  100% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes moveBalloon {
  100% {
    transform: translateX(2000%);
  }
}

/**
 * Media Queries for Responsive Design
 */
// Medium screens - Tablets and similar devices
@media (min-width: 768px) {
  .first-step-container {
    .outer-text {
      width: 60%;
      font-size: 32px;
    }
    .start-button {
      height: 70px;
      font-size: 28px;
    }
  }
}

// Large screens - Desktops and above
@media (min-width: 1024px) {
  .first-step-container {
    .outer-text {
      width: 40%;
      font-size: 40px;
    }
    .start-button {
      height: 90px;
      font-size: 32px;
    }
  }
}
