.info-step {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #EAF6FF; // Light blueish color for a toony background
  background-size: cover;

  h1 {
    color: #112A46;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8); // Exaggerated shadow for a cartoon effect
    margin-bottom: 30px;
    font-size: 60px;
  }

  .info-step-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.8); // Making it slightly transparent
    border: 5px dashed #112A46; // Chunky dashed border for cartoon effect
    border-radius: 20px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3); // Giving it a deep shadow for depth

    label, p {
      color: #112A46;
      font-weight: bold; 
      margin-bottom: 15px;
      font-size: 45px; // Increasing font size
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    .ant-input {
      margin-bottom: 25px;
      width: 450px;
      height: 60px;
      font-size: 25px;
      border: 3px solid #112A46; // Thick border for cartoon effect
      border-radius: 10px; 
      padding: 10px 20px;
    }
    .loading-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 5px;
    
      .ant-spin {
        margin-bottom: 10px;
      }
    
      .ant-spin-text {
        color: #FFFDE5; // or any other color
        font-weight: bold;
      }
    }
    
    .gender-options {
        display: flex;
        gap: 30px;
        margin-top: 20px;
    
        .gender-option {
          position: relative;
          width: 120px;
          height: 120px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          background-color: rgba(#EAF6FF, 0.7); 
          border: 5px solid #112A46; // Chunky dashed border for cartoon effect

          border-radius: 10px;
          transition: transform 0.2s;
          
          &:hover {
            transform: scale(1.1);
            background-color: rgba(#76bff7, 0.8); 

          }
    
          &.ant-radio-button-wrapper-checked {
            background-color: rgba(#76bff7, 0.8); 

    
            .choice-tick {
              visibility: visible;
            }
          }
    
          p {
            z-index: 1;
            color: #112A46;

            font-size: 25px;
          }
    
          .choice-circle {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 30px;
            height: 30px;
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(#EAF6FF, 0.7); 
            border: 2px solid #112A46; // Chunky dashed border for cartoon effect
  
            .choice-tick {
              opacity: 1;
              font-size: large;
              color:#112A46;
              font-weight: bold;
            }
          }
        }
      }
        // Define common styles for both next and previous buttons
.button-common {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  border: 2px solid #bbb7b7;
  color: #4CAF50;
  padding: 10px 20px;
  border-radius: 35px;
  box-shadow: 0px 4px 8px rgba(121, 120, 120, 0.1);
  transition: all 0.3s ease-out;
  opacity: 0.8;
  font-size: 30px;

  &:hover {
    background: linear-gradient(to bottom, #f2f2f2, #ffffff);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    transform: translateX(-50%) translateY(-50%) scale(1.05); // Slight enlargement on hover


    .anticon {
      transform: scale(1.2);
    }
  }
}

.next-button {
  @extend .button-common; // Use the common styles
  right: 0px;
  transform: translateX(-50%) translateY(-50%);
}

.previous-button {
  @extend .button-common; // Use the common styles
  left: 70px;
  transform: translateX(-50%) translateY(-50%);
}
}
}

/* Media Queries */
@media (max-width: 1200px) {
  /* For large screens */
  .info-step h1 {
    font-size: 50px;
  }

  .info-step-container {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  /* For medium screens */
  .info-step h1 {
    font-size: 40px;
  }

  .info-step-container label, .info-step-container p {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  /* For small screens */
  .info-step h1 {
    font-size: 30px;
  }

  .info-step-container {
    padding: 15px;
  }

  .info-step-container label, .info-step-container p {
    font-size: 25px;
  }
}