@import "../../assets/scss/variables.scss";
@import "../../styles/breakpoints";

.outer-wrapper-sub-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  font-family: $primary-font;
  position: relative;
  background-size: cover;
  background-position: center;
  .intro-section {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    h1 {
      font-size: $title-font-size;
      margin-bottom: 25px;
      color: $primary-color; // Earthy green for a sustainable touch
    }

    p {
      font-size: $subtitle-font-size;
      margin-bottom: 10%;
      color: $earthy-green-border; // Earthy green border color for text
    }
    @include tablet {
      margin-bottom: 20px;

      h1 {
        font-size: calc($title-font-size * 0.9);
      }

      p {
        font-size: calc($subtitle-font-size * 0.9);
        margin-bottom: 8%;
      }
    }

    @include mobile {
      margin-bottom: 15px;

      h1 {
        font-size: calc($title-font-size * 0.8);
      }

      p {
        font-size: calc($subtitle-font-size * 0.8);
        margin-bottom: 5%;
      }
    }
  }

  .sub-options-container {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    // Add this if you want space between slides
    .slick-slide > div {
      margin: 0 50px;
    }
    @include desktop {
      width: 90%;
    }

    @include tablet {
      flex-direction: column;

      .slick-slide > div {
        margin: 0 20px;
      }
    }

    @include mobile {
      width: 95%;

      .option-card {
        padding: 10px;
      }
    }
    .option-card {
      display: flex !important;
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center !important;
      padding: 20px;
      box-shadow: $primary-box-shadow;
      border: $primary-border;
      box-shadow: $solar-hover-box-shadow;
      overflow: hidden;
      border-radius: $primary-border-radius;
      transition: transform $medium-transition;

      &:hover,
      &:focus {
        border: $primary-border;

        border-radius: $primary-border-radius;
        background-color: $primary-color;
        color: white;
        h3,
        p {
          color: white;
        }
      }
      .button-common {
      }

      .next-button {
        @extend .button-common;
        right: 0px;
        transform: translateX(-50%) translateY(-50%);
      }

      .previous-button {
        @extend .button-common;
        left: 8.75 * $spacing-unit;
        transform: translateX(-50%) translateY(-50%);
      }
      .next-button,
      .previous-button {
        @include tablet {
          width: 50px;
          height: 50px;
          border-radius: 25px;

          &::before {
            font-size: 30px;
          }
        }

        @include mobile {
          display: none; // If you want to hide arrows on mobile
        }
      }
      h3 {
        font-size: 24px;
        margin: 20px 0;
        color: $primary-color; // Earthy green color
      }

      p {
        font-size: 18px;
        color: $earthy-green-border;
        margin: 20px 0;
      }

      button {
        margin-top: 20px;
        padding: 10px 20px;
        border: 2px solid $primary-color;
        font-weight: bold;
        cursor: pointer;

        box-shadow: $primary-box-shadow;
        border: $button-primary-border;
        box-shadow: $solar-button-hover-box-shadow;
        color: $primary-color; // Earthy green color

        border-radius: $primary-border-radius;
        transition: transform $medium-transition;
        &:hover {
          background: linear-gradient(to bottom, $solar-primary, $soft-yellow);

          color: $primary-color; // Earthy green color
        }
      }

      [class^="option-card-img-"] {
        width: 250px;
        height: 250px;
        background-position: center;
        background-size: cover;

        margin-bottom: 20px;
      }

      .option-card-img-1 {
        background-image: url("../../assets/images/info-blocks/renewable-energy.png");
      }

      .option-card-img-2 {
        background-image: url("../../assets/images/info-blocks/solar-panel.png");
      }

      .option-card-img-3 {
        background-image: url("../../assets/images/info-blocks/gov-sup.png");
      }
      .option-card-img-4 {
        background-image: url("../../assets/images/info-blocks/estimation.svg");
      }
    }
  }
}

.custom-next-arrow,
.custom-prev-arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  z-index: 10; // to ensure it's above all other elements
  background: transparent;
  border: $primary-border;
  border-radius: 35px;
  box-shadow: $solar-hover-box-shadow;
  transition: all 0.3s ease-out;
  opacity: 0.8;

  &:hover {
    background: linear-gradient(to bottom, $light-green, $soft-yellow);
    box-shadow: $solar-hover-box-shadow;

    .anticon {
      transform: scale(1.2);
    }
  }
  // Consider adding an arrow icon using ::before or an img tag
  &::before {
    content: ""; // can use arrow icons or SVG here
  }
}

.custom-next-arrow {
  right: -4%; // Adjust as per your design

  &::before {
    content: ">"; // simple arrow, consider replacing with a proper icon
    color: $primary-color;
    font-size: 20px;
  }
}

.custom-prev-arrow {
  left: -2%; // Adjust as per your design
  background: transparent;

  &::before {
    content: "<"; // simple arrow, consider replacing with a proper icon
    color: $primary-color;
    font-size: 20px;
    color: black;
  }
}
