.outer-wrapper-sub-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Patrick Hand", cursive; /* Cartoon font */
  background: white; // Soft pale background for a playful touch

  .intro-section {
    text-align: center;
    margin-bottom: 30px;

    h1 {
      font-size: 2.5em;
      margin-bottom: 45px;
      color: #333;
    }

    p {
      font-size: 1.2em;
      margin-bottom: 15%;
      color: #555; // Slightly darker for better contrast
    }
  }

  .sub-options-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 70%; // increased for better space distribution

    .option-card {
      background: #FCF5E8; // Soft pale background for a playful touch
      border-radius: 15px; // More rounded
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px; // Consistent padding for all items
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.08); // Slight cartoonish shadow
      transition: box-shadow 0.3s ease, transform 0.3s ease;
      border-radius: 5px;
      
      border: 4px solid #07090b; /* Brighter border */

      box-shadow: 7px 7px 0px 0px #07090b; // offset shadow for cartoon feel
      &:hover, &:focus {
        transform: translateY(-10px); // Lift effect
        
        h3, p {
          color: #F76B1C;

        }
      }

      h3 {
        font-size: 2em;
        margin: 20px 0; // Consistent margin
        color: #444;
      }

      p {
        font-size: 1.2em;
        color: #777;
        margin: 20px 0; // Consistent margin
      }

      button {
        margin-top: 20px;
        padding: 10px 25px; // Increased padding for better visuals
        border: none;
        border-radius: 20px; // More rounded
        border-radius: 5px;
      
        border: 2px solid #07090b; /* Brighter border */
  
        box-shadow: 4px 4px 0px 0px #07090b; // offset shadow for cartoon feel
        font-weight: bold; // Bold text for the button
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: #FAD300;

          scale: 1.5;
        }
      }

      // Simplified repeated styles for images
      [class^="option-card-img-"] {
        width: 250px;
        height: 250px;
        background-size: cover;
        margin-bottom: 20px; // Space between the image and title
      }

      .option-card-img-1 {
        background-image: url("../../assets/images/info-blocks/renewable-energy.png");
      }

      .option-card-img-2 {
        background-image: url("../../assets/images/info-blocks/solar-panel.png");
      }

      .option-card-img-3 {
        background-image: url("../../assets/images/info-blocks/renewable-energy.png");
      }
    }
  }
}
