.outer-wrapper-sub-options {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif; /* More professional and readable font */
  background: #f4f4f4; /* Neutral, soft background for a professional touch */
  position: relative;
  background-size: cover;
  background-position: center;

  .intro-section {
    text-align: center;
    margin-bottom: 30px;

    h1 {
      font-size: 2.5em;
      margin-bottom: 25px;
      color: #333;
    }

    p {
      font-size: 1.2em;
      margin-bottom: 10%;
      color: #555;
    }
  }

  .sub-options-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 70%;

    .option-card {
      background: #e6efe9; /* Earthy green shade to resonate with sustainability */
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
      transition: box-shadow 0.3s ease, transform 0.3s ease;

      &:hover,
      &:focus {
        transform: translateY(-5px); /* A subtle lift for hover effect */

        h3,
        p {
          color: #008248; /* A darker shade of green */
        }
      }

      h3 {
        font-size: 2em;
        margin: 20px 0;
        color: #333;
      }

      p {
        font-size: 1.2em;
        color: #555;
        margin: 20px 0;
      }

      button {
        margin-top: 20px;
        padding: 10px 20px;
        border: 2px solid #008248; /* Consistent with the green theme */
        border-radius: 4px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.3s ease;

        &:hover {
          background-color: #008248;
          color: #ffffff; /* White text for contrast on the green button */
        }
      }

      [class^="option-card-img-"] {
        width: 250px;
        height: 250px;
        background-size: cover;
        margin-bottom: 20px;
      }

      .option-card-img-1 {
        background-image: url("../../assets/images/info-blocks/renewable-energy.png");
      }

      .option-card-img-2 {
        background-image: url("../../assets/images/info-blocks/solar-panel.png");
      }

      .option-card-img-3 {
        background-image: url("../../assets/images/info-blocks/renewable-energy.png");
      }
    }
  }
}
