.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f6f7f9;
  color: #333;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .error-code {
    font-size: 10rem;
    font-weight: bold;
    color: #ff6b6b;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #777;
  }

  .home-link {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #4caf50;
    transition: background-color 0.3s;

    &:hover {
      background-color: #45a049;
    }
  }
}
